[package]
name = "rua"
version = "0.14.14"
description = "Secure jailed AUR helper for Arch Linux"
authors = [
  "Vasili Novikov <n1dr+cm3513git@yandex.ru>",
  "Stefano Probst <senden9@gmail.com>",
  "morganamilo <morganamilo@gmail.com>",
  "nolik <Novik030692!>",
]
license="GPL-3.0-or-later"
edition="2018"
keywords = ["archlinux", "aur", "build", "jail", "bubblewrap"]
readme = "README.md"
repository = "https://github.com/vn971/rua"
build = "build.rs"

[features]
git = ["alpm/git"]

[build-dependencies]
structopt = "0.3.1"

[dependencies]
alpm = "0.6.0"
chrono = "0.4.9"
colored = "1.8.0"
directories = "2.0.2"
env_logger = "0.6.2"
failure = "0.1.5"
fs2 = "0.4.3"
fs_extra = "1.1.0"
indexmap = "1.2.0"
itertools = "0.8.0"
lazy_static = "1.4.0"
log = "0.4.8"
prettytable-rs = "0.8.0"
raur = { version = "2.0.1", default-features = false, features = ["rustls"] }
regex = "1.3.1"
rm_rf = "0.3.0"
srcinfo = "0.3.2"
structopt = "0.3.1"
tar = "0.4.26"
term_size = "0.3.1"
uname = "0.1.1"
users = "0.9.1"
xz2 = "0.1.6"

[profile.release]
lto = true
